@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }

  .homer {
    margin-top: 10px;
    width: 100vw;
    height: 85vh;
  }

  .homer-item-1 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .homer-h1 {
    font-size: 40px;
    text-align: center;
  }

  .homer-para {
    margin-top: 40px;
  }

  .discover {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 20px;
    margin-bottom: 10px;
  }

  .discover > h1 {
    padding-left: 10px;
  }

  .recipes {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    grid-template-columns: 48% 48%;
    gap: 12px;
  }

  .uploaded {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-left: 12px;
    height: 100%;
    gap: 24px;
    width: fit-content;
  }

  .uploaded-items {
    margin-bottom: 0px;
    height: 256px;
  }

  .discover {
    height: fit-content;
  }
}
