* {
  padding: 0;
  margin: 0;
}

/*Navigation */

h1 {
  font-family: "Felipa", serif;
}

.search {
  height: 20px;
  width: 20px;
}

.hamburger {
  height: 35px;
  width: 35px;
}

.nav-xxl {
  height: 80px;
  width: 100vw;
}

input {
  border: none;
  outline: none;
}

#search-bar {
  background-color: #d9d9d9;
}

.search-div {
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #d9d9d9;
}

.tabs {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.div-tabs {
  margin: auto;
  height: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.title-div {
  width: fit-content;
}

.homer {
  height: 100vh;
  background-image: url("images/layer-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 84px;
  border-radius: 20px;
}

.homer-item-1 {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(15px);
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}

.homer-inside-item-1,
.homer-inside-item-2 {
  width: 100%;
}

.homer-h1 {
  font-family: "Felipa", serif;
  font-weight: 500;
  color: #f09d58;
  font-size: 85px;
}

.homer-para {
  font-family: "Poppins";
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 100px;
  color: #f09d58;
  text-align: justify;
  text-indent: 30px;
}

.recipes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  gap: 20px;
}

.recipe-item {
  width: 100%;
  height: 60%;
}

.discover {
  display: grid;
  height: 100vh;
  padding-top: 24px;
  overflow: hidden;
  padding-bottom: 24px;
  grid-template-rows: 5% 60% 40%;
  row-gap: 10px;
  padding-left: 24px;
  margin-bottom: 20px;
}

.uploaded {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  padding-right: 24px;
}

.uploaded-inside-items {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 12px;
}

.uploaded-inside-items>h1,
.uploaded-inside-items>p {
  font-family: "Poppins";
  color: white;
}

.uploaded-inside-items>h1 {
  font-size: xx-large;
}

.uploaded-items-1,
.uploaded-items-2,
.uploaded-items-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.uploaded-items-1 {
  background-image: url("images/uploaded-1.png");
}

.uploaded-items-2 {
  background-image: url("images/uploaded-2.png");
}

.uploaded-items-3 {
  background-image: url("images/recipe-3.png");
}